@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;700&display=swap'); /* Importing font from Google. */

* {
    font-family: 'Kanit', sans-serif;
    color: white;
}

h1 {
    font-size: 40px;
}

body {
    padding: 3%;
    background-color: rgb(55, 52, 52);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: black;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.timer {
    font-size: 24px;
}

.section {
    display: none;
    margin: 0 auto;
    margin-top: 7.5%;
    width: 75%;
    height: auto;
}

.active {
    display: block;
}

.start-game {
    text-align: center;
}

.start-game button {
    margin-top: 50px;
}

.game-end {
    text-align: center;
    font-size: 40px;
}

.section p {
    font-size: 20px;
}

.button-div {
    display: flex;
    flex-direction: column;
}

.button-answer {
    margin: 10px 0;
    text-align: left;
    transition: 0.3s ease;
}

.button-answer:hover {
    background-color: white;
    color: black;
}

.form-input {
    font-size: 25px;
    color: black;
}

.form-input::placeholder {
    font-size: 25px;
}

.win-form {
    margin-top: 15px;
}

.leaderboard {
    text-align: center;
}

.leaderboard h2 {
    font-size: 40px;
}

.leaderboard p {
    font-size: 25px;
    margin: 15px 0;
}

.leaderboard-div button {
    margin: 0 auto;
    display: block;
}

.margin-top {
    margin-top:15px;
}


@media screen and (max-width: 770px) { /* Arbitrary size chosen to start mobile-responsive styling. Layout already works fairly well on mobile so minimal changes needed. */

    .section {
        width: 100%;
    }

    header h1 {
        text-align: center;
    }

    .view-leaderboard { /* Only shrinking this button on mobile since it's the only one that takes up too much space. */
        font-size: 20px;
    }
}